force-app/main/default/flows/Go_Book_a_Ride.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_If_true</name>
        <label>Check If true</label>
        <locationX>469</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>No_Driver_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Driver_Name_Fetch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Drivers_List</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_from_Below</targetReference>
            </connector>
            <label>Driver Name Fetch</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Mode_of_Payment_API</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mode_of_Payment__c</picklistField>
        <picklistObject>Ride__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Vehicle_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vehicle_Type__c</picklistField>
        <picklistObject>Ride__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Go!!! Book a Ride {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Go!!! Book a Ride</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Booking_API</name>
        <label>Booking</label>
        <locationX>851</locationX>
        <locationY>141</locationY>
        <assignRecordIdToReference>Booking_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Booking_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Customer_ID_API</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distance__c</field>
            <value>
                <elementReference>Distance_API</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driver__c</field>
            <value>
                <elementReference>DriverIDFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drop__c</field>
            <value>
                <elementReference>Drop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode_of_Payment__c</field>
            <value>
                <elementReference>Mode_of_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pick_Up__c</field>
            <value>
                <elementReference>Pick_Up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Type__c</field>
            <value>
                <elementReference>Vehicle_Type_API</elementReference>
            </value>
        </inputAssignments>
        <object>Ride__c</object>
    </recordCreates>
    <recordLookups>
        <name>DriverIDGet</name>
        <label>DriverIDGet</label>
        <locationX>761</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Booking_API</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DriverIDSelected2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DriverIDSelected2.Name</elementReference>
            </value>
        </filters>
        <object>Driver__c</object>
        <outputAssignments>
            <assignToReference>DriverIDFinal</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DriverNameFinal</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Drivers_List</name>
        <label>Drivers_List</label>
        <locationX>317</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Driver_Availability__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Driver__c</object>
        <outputReference>Driver_Names</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Driver_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Booking_Details</name>
        <label>Get Booking Details</label>
        <locationX>812</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FInal_Display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Booking_ID</elementReference>
            </value>
        </filters>
        <object>Ride__c</object>
        <outputAssignments>
            <assignToReference>GetBookingDetails</assignToReference>
            <field>Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BookingIDVar</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer</name>
        <label>Get Customer</label>
        <locationX>191</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Drivers_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Customer_ID_API</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Booking</name>
        <label>Booking</label>
        <locationX>48</locationX>
        <locationY>136</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Customer</targetReference>
        </connector>
        <fields>
            <name>Pick_Up</name>
            <dataType>String</dataType>
            <fieldText>Pick Up</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Drop</name>
            <dataType>String</dataType>
            <fieldText>Drop</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Distance_API</name>
            <dataType>Number</dataType>
            <fieldText>Distance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Vehicle_Type_API</name>
            <choiceReferences>Vehicle_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vehicle Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mode_of_Payment</name>
            <choiceReferences>Mode_of_Payment_API</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mode of Payment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Select from Available Drivers</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FInal_Display</name>
        <label>FInal Display</label>
        <locationX>811</locationX>
        <locationY>397</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_API</name>
            <fieldText>&lt;p&gt;Thank you for Booking Ride&lt;/p&gt;&lt;p&gt;Booking Id: {!BookingIDVar}&lt;/p&gt;&lt;p&gt;Driver Name: {!DriverNameFinal}&lt;/p&gt;&lt;p&gt;Cost: {!GetBookingDetails}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Driver_Available</name>
        <label>No Driver Available</label>
        <locationX>478</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Driver_Message</name>
            <fieldText>&lt;p&gt;No Driver Available at the moment please check after sometime&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;No Driver Available Please wait for some time.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_from_Below</name>
        <label>Select from Below</label>
        <locationX>683</locationX>
        <locationY>148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DriverIDGet</targetReference>
        </connector>
        <fields>
            <name>Drivers_List_Get</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Driver__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Available Drivers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Driver_Names</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Id&quot;,&quot;guid&quot;:&quot;column-215f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Driver ID&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Record ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b3ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Driver Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Driver Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DriverIDSelected2</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>335</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Booking_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookingIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Customer_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Customer_ID_API</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Customer_Record_API</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Distance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Driver1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Driver_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Driver_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Driver_Name_Get</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Driver_Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>Driver_Names</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driver__c</objectType>
    </variables>
    <variables>
        <name>DriverIDFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DriverIDSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driver__c</objectType>
    </variables>
    <variables>
        <name>DriverIDSelected2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driver__c</objectType>
    </variables>
    <variables>
        <name>DriverName1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DriverNameFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DriverNameSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DriverNameSelected1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driver__c</objectType>
    </variables>
    <variables>
        <name>FetchingDriver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Driver_Name_Get</elementReference>
        </value>
    </variables>
    <variables>
        <name>Final_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetBookingDetails</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Sample1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driver__ChangeEvent</objectType>
    </variables>
</Flow>
