force-app/main/default/flows/Travel_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>Auto</name>
        <choiceText>Auto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bike</name>
        <choiceText>Bike</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bike</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bus</name>
        <choiceText>Bus</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bus</stringValue>
        </value>
    </choices>
    <choices>
        <name>Car</name>
        <choiceText>Car</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Car</stringValue>
        </value>
    </choices>
    <choices>
        <name>Card</name>
        <choiceText>Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash</name>
        <choiceText>Cash</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash</stringValue>
        </value>
    </choices>
    <choices>
        <name>Flight</name>
        <choiceText>Flight</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flight</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net_Banking</name>
        <choiceText>Net Banking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Net Banking</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pay_after_Drop</name>
        <choiceText>Pay after Drop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay after Drop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ship</name>
        <choiceText>Ship</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship</stringValue>
        </value>
    </choices>
    <choices>
        <name>Train</name>
        <choiceText>Train</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Train</stringValue>
        </value>
    </choices>
    <choices>
        <name>UPI</name>
        <choiceText>UPI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UPI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Checks whether the Contacts Exists or Not</description>
        <name>Is_Contact_Exists</name>
        <label>Is Contact Exists</label>
        <locationX>452</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Drivers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_ID</targetReference>
            </connector>
            <label>Contact Not Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Travel Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Travel Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Booking</name>
        <label>Create Booking</label>
        <locationX>452</locationX>
        <locationY>1130</locationY>
        <assignRecordIdToReference>BookingID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Booking_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distance__c</field>
            <value>
                <elementReference>Distance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driver__c</field>
            <value>
                <elementReference>DriversList.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drop__c</field>
            <value>
                <elementReference>Drop_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode_of_Payment__c</field>
            <value>
                <elementReference>PaymentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pick_Up__c</field>
            <value>
                <elementReference>Pick_Up_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Type__c</field>
            <value>
                <elementReference>Mode_of_Transport</elementReference>
            </value>
        </inputAssignments>
        <object>Ride__c</object>
    </recordCreates>
    <recordCreates>
        <description>As Contact is not present it will create one.</description>
        <name>Create_the_Contact</name>
        <label>Create the Contact</label>
        <locationX>320</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Contact_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailID.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Contact_ID</name>
        <label>Contact ID</label>
        <locationX>320</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Drivers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Edit_Last_Name</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Booking_Details</name>
        <label>Get Booking Details</label>
        <locationX>452</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Booking_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BookingID</elementReference>
            </value>
        </filters>
        <object>Ride__c</object>
        <outputAssignments>
            <assignToReference>Amount</assignToReference>
            <field>Amount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This will retrieve the Contact Details from Database</description>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>452</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Drivers</name>
        <label>Get Drivers</label>
        <locationX>452</locationX>
        <locationY>914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Drivers_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Driver_Availability__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Driver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Booking_Details</name>
        <label>Booking Details</label>
        <locationX>453</locationX>
        <locationY>1348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirm_Booking_Details</name>
            <fieldText>&lt;p&gt;You booked the ride. &lt;/p&gt;&lt;p&gt;Please find the Booking Details Below&lt;/p&gt;&lt;p&gt;Pick Up: {!Pick_Up_Location}&lt;/p&gt;&lt;p&gt;Drop: {!Drop_Location}&lt;/p&gt;&lt;p&gt;Requested Vehicle: {!Mode_of_Transport}&lt;/p&gt;&lt;p&gt;Amount: {!Amount}&lt;/p&gt;&lt;p&gt;Mode of Payment: {!PaymentType}&lt;/p&gt;&lt;p&gt;Driver: {!DriversList.firstSelectedRow.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Drivers_List</name>
        <label>Drivers List</label>
        <locationX>452</locationX>
        <locationY>1021</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Booking</targetReference>
        </connector>
        <fields>
            <name>DriversList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Driver__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Drivers from Below List</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Drivers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Driver_ID__c&quot;,&quot;guid&quot;:&quot;column-fbee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Driver ID&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Driver ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-025b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Driver Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Driver Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_ID</name>
        <label>Email ID</label>
        <locationX>320</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_the_Contact</targetReference>
        </connector>
        <fields>
            <name>Get_Email</name>
            <fieldText>&lt;p&gt;Sorry!!, The contact does not exist in our Database. Please Double check the spelling. If you want to create the contact, please enter the email address so that we can create one. You can also edit your First and Last name if needed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Name.firstName</elementReference>
            </defaultValue>
            <fieldText>Edit First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Edit_Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Name.lastName</elementReference>
            </defaultValue>
            <fieldText>Edit Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmailID</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Create Contact and Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is used to get the Pickup, Drop and other details.</description>
        <name>Get_Ride_Details</name>
        <label>Get Ride Details</label>
        <locationX>452</locationX>
        <locationY>182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_Details</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;Please Enter Last Name.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Name.lastName} != &quot;&quot;</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Pick_Up_Location</name>
            <dataType>String</dataType>
            <fieldText>Pick Up Location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Drop_Location</name>
            <dataType>String</dataType>
            <fieldText>Drop Location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Distance</name>
            <dataType>Number</dataType>
            <fieldText>Distance</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Mode_of_Transport</name>
            <choiceReferences>Bike</choiceReferences>
            <choiceReferences>Bus</choiceReferences>
            <choiceReferences>Car</choiceReferences>
            <choiceReferences>Flight</choiceReferences>
            <choiceReferences>Ship</choiceReferences>
            <choiceReferences>Auto</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mode of Transport</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PaymentType</name>
            <choiceReferences>UPI</choiceReferences>
            <choiceReferences>Card</choiceReferences>
            <choiceReferences>Cash</choiceReferences>
            <choiceReferences>Net_Banking</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mode of Payment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment_After_Drop</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Payment After Drop</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>326</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Ride_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisplayBookingDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ride__c</objectType>
    </variables>
</Flow>
